<!-- <header class="header">
    <a href="#" class="logo">Bruzoo</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="/exit-reg">Exit Exam</a>
    </nav>
  </header> -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 </head>
 <body>
  
  <header class="header">
    <nav class="navbar">
      <!-- <h2 class="logo"><a href="#">EnrolliXCoder</a></h2> -->
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </label>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/course">Courses</a></li>
        <li><a href="/condact">Contact us</a></li>
        <li class="dropdown">
          Login
          <div class="dropdown-content">
            <a href="/admin">Admin</a>
            <a href="/studdash">Student</a>
            
          </div>
        </li>
      </ul>
      
    </nav>
  </header>

  <main>
    <div class="intro">
      <h1> La BRUZOo</h1>
      <p>ONLINE LEARNING PLATFORM</p>
      <p>Unlimited access to 7,000+ world-class courses and job-ready certificate programs.</p>
      <!-- <a href="/student">
        <button>Student Login</button>
      </a> -->
      
      
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Online learning</p>
        <p class="work-text">Online learning, also known as e-learning or distance education, is a way for students to take courses and earn degrees remotely. It's delivered electronically through various multimedia and internet platforms and applications.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">Skills are the ability to use knowledge effectively and readily in execution or performance.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Certifications</p>
        <p class="work-text">Online courses can demonstrate personal commitment, which can help with job applications. Some say that online certificates can be valuable, depending on the certification and the employer.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>Courses</h2>
        <p>Online learning, also known as distance learning or e-learning, is a way to study remotely instead of attending classes in person.courses like Digital marketing Ethical hacking,Computer hardware and networking,Programming,Web designing,FSD,ML/AI,DS.</p>
      </div>
      <img src="https://instructor-academy.onlinecoursehost.com/content/images/2023/05/How-to-Create-an-Online-Course-For-Free--Complete-Guide--6.jpg" alt="me">
    </div>
    
  </main>
</body>
</html>