<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <h2 class="logo"><a href="#"></a></h2>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </label>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/course">Courses</a></li>
        <!-- <li><a href="/condact">Contact us</a></li> -->
        <!-- <li><a href="/course">Courses</a></li> -->
        <!-- <li><a href="/admin">course</a></li> -->
        <!-- <li class="dropdown">
          <a href="#">Login</a>
          <div class="dropdown-content">
            <a href="/loginadmin">Admin</a>
            <a href="/loginstudent">Student</a>
           
          </div>
        </li> -->
      </ul>
      
    </nav>
  </header>
</body>
</html>