<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" id="hamburger-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </label>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/course">Courses</a></li>
            
            <li><a href="/admindash">Admin Dashboard</a></li>
          </ul>
        </nav>
    </header>

    <section>
      <h1>VIEW REGISTERED STUDENTS</h1>
    
      <div *ngFor="let batch of batchData" class="batch-container">
        <h2>{{ batch.batch }}</h2>
    
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Batch</th>
                <th>Gender</th>
                <th>Mobile Number</th>
              </tr>
            </thead>
          </table>
        </div>
    
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr *ngFor="let registration of batch.registrations">
                <td>{{ registration.Name }}</td>
                <td>{{ registration.Emailaddress }}</td>
                <td>{{ registration.batch }}</td>
                <td>{{ registration.gender }}</td>
                <td>{{ registration.Mobilenumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </section>

    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>

    <!-- follow me template -->
    <!-- <div class="made-with-love">
        Download the list
        <i>♥</i>
        <a target="_blank" href="https://codepen.io/nikhil8krishnan"></a>
    </div> -->
</body>
</html>
