<html lang="en">
<head>
    <!-- Your head elements here -->
</head>
<body style="background-image: url('55.jpg');
 background-size: cover;">
 <header class="header">
  <nav class="navbar">
    <h2 class="logo"><a href="/exitadmin"></a></h2>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" id="hamburger-btn">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </label>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/course">Courses</a></li>
      <li><a href="/">Logout</a></li>
  
    </ul>
    
  </nav>
</header>
<br>
<br><br>
<br><br>

<div class="container" style="text-align: center;">
    <h4 class="display-4" style="font-size: 4rem;"><i><b>La BRUZOo</b></i></h4>
    <br><br>

    <p class="lead"style="font-size: 2rem;">La BRUZOo is an online learning platform that offers courses, degrees, certificates, and tutorials in a variety of subjects.</p>
    <br><br>
  <div class="row">
   
    <div class="col-md-4" style="margin: 0 auto;">
      <a class="datcard my-3" href="/viewall">
        <span style="color:white;" class="h4">See Results</span>
        <p>View and download results of all students.</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
    <div class="col-md-4" style="margin: 0 auto;">
      <a class="datcard my-3" href="/view">
        <span style="color:white;" class="h4">View Registered Students</span>
        <p>View and download the registered students details.</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
  </div>
  <br>
    
    
    
  </div>
  <!-- <div class="center">
    <a href="/home">
      <button class="btn btn-danger my-3" onclick="logout()">Logout</button>
    </a>
  </div> -->
  
</body>
</html>